{%extends 'design.html'%}
{%block body%}
<form method='POST'>
<div class='form-group'>
	<label for='Email'>Email</label>
	<input type='email' name='email' id='email' class='form-control' placeholder='Enter email' required>
</div>
{%  if not login%}
<div class='form-group'>
	<label for='name'>Name</label>
	<input type='text' name='name' id='name' class='form-control' placeholder='Enter Name' required>
</div>
{%endif%}
<div class='form-group'>
	<label for='password'>Password</label>
	<input type='Password' name='password' id='password' class='form-control' placeholder='Enter Password' required>
</div>

	{%if login%}
	<br  />
		<button type='submit' class='btn btn-primary'>Log in</button>
		<p>Dont have an account?
		<a href='{{url_for("register")}}'>Register</a>
		<br />
		<a href='{{url_for("reset_password")}}'>Forgot password</a></p>
	{%else%}
	<div class='form-group'>
		<label for='confirm_password'>Confirm Password</label>
	<input type='Password' name='confirm_password' id='confirm_password' class='form-control' placeholder='Confirm your password' required>
	</div>
	<br  />
		<button type='submit' class='btn btn-primary'>Register</button>
		<p>Already have an account?<a href='http://127.0.0.1:5000/login'>Log in</a></p>
	{%endif%}

</form>
{%endblock body%}