{%extends 'design.html'%}
{%block body%}
	<form method='POST' action='{{url_for("reset_password")}}'>
	<div class='form-group'>
		<label for='email'>Email</label>
		<input type='email' name='email' id='email' class='form-control' required>
		<label for='cur_password'>Current password</label>
		<input type='password' name='cur_password' id='cur_password' class='form-control' required>
		<label for='password1'>New password</label>
		<input type='password' name='password1' id='password1' class='form-control' required>
		<label for='password2'>Confirm password</label>
		<input type='password' name='password2' id='password2' class='form-control' required>
		<hr>
		<button type='submit' class='btn btn-outline-primary'>Change</button>
		
	</div>
	</form>
{%endblock body%}